.vs/ProjectEvaluation/p3ppc.totalkotoneoverhaul.strings.v8.bin
.vs/ProjectEvaluation/p3ppc.totalkotoneoverhaul.projects.v8.bin
.vs/ProjectEvaluation/p3ppc.totalkotoneoverhaul.metadata.v8.bin
.vs/p3ppc.totalkotoneoverhaul/v17/DocumentLayout.json
.vs/p3ppc.totalkotoneoverhaul/v17/DocumentLayout.backup.json
.vs/p3ppc.totalkotoneoverhaul/v17/.suo
.vs/p3ppc.totalkotoneoverhaul/v17/.futdcache.v2
.vs/p3ppc.totalkotoneoverhaul/FileContentIndex/20090ae5-7c41-43d9-b6aa-c45edf3d173e.vsidx
.vs/p3ppc.totalkotoneoverhaul/DesignTimeBuild/.dtbcache.v2
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.827.52834/SemanticSymbols.db-wal
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.827.52834/SemanticSymbols.db-shm
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.827.52834/SemanticSymbols.db
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.827.52834/CodeChunks.db-wal
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.827.52834/CodeChunks.db-shm
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.827.52834/CodeChunks.db
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/p3ppc.totalkotoneoverhaul/CopilotIndices/17.14.734.62261/CodeChunks.db
